.close-modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    
    background-color: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.close-modal-icon {
    width: 14px;
    height: 14px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.close-modal-button:hover .close-modal-icon,
.close-modal-button:focus .close-modal-icon {
    fill: var(--accent-color);
}